In [98]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [99]:
df1 = pd.read_csv('aquastat_flat.csv',lineterminator='\r')
df2 = pd.read_csv('as2.csv',lineterminator='\r')[:-1]
df3 = pd.read_csv('as3.csv',lineterminator='\r')[:-1]
df4 = pd.read_csv('as4.csv',lineterminator='\r')[:-1]
df5 = pd.read_csv('as5.csv',lineterminator='\r')[:-1]
df6 = pd.read_csv('as6.csv',lineterminator='\r')[:-1]
df7 = pd.read_csv('as7.csv',lineterminator='\r')[:-1]
df8 = pd.read_csv('as8.csv',lineterminator='\r')[:-1]
df9 = pd.read_csv('as9.csv',lineterminator='\r')[:-1]
df10 = pd.read_csv('as10.csv',lineterminator='\r')[:-1]
df11 = pd.read_csv('as11.csv',lineterminator='\r')[:-1]
df12 = pd.read_csv('as12.csv',lineterminator='\r')[:-1]
df13 = pd.read_csv('as13.csv',lineterminator='\r')[:-1]
df14 = pd.read_csv('as14.csv',lineterminator='\r')[:-1]

In [100]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14])

In [133]:
df.Area.replace(regex=True,inplace=True,to_replace=r'\n',value=r'')
df.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value
0,Afghanistan,2.0,% of total country area cultivated,4470.0,1982.0,12.34
1,Afghanistan,2.0,Total population,4104.0,1982.0,12750.00
2,Afghanistan,2.0,Rural population,4105.0,1982.0,10705.00
3,Afghanistan,2.0,Urban population,4106.0,1982.0,2045.00
4,Afghanistan,2.0,GDP per capita,4458.0,1981.0,272.80

In [102]:
clean_df =  pd.pivot_table(df,index = ['Area','Year'],columns = 'Variable Name', values = 'Value')
clean_df = clean_df.reset_index()

In [134]:
clean_df.head()

Variable Name,Area,Year,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of treated municipal wastewater,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by mixed surface water and groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation drained,...,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Treated municipal wastewater discharged (secondary water),Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
0,Afghanistan,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1981.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.68,65.33,5124.0,NaN,NaN,NaN,NaN,2045.0,NaN,18.18
3,Afghanistan,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
len(clean_df.Area.unique())

201

In [135]:
c = ['Armenia','Azerbaijan','Morocco','Algeria','Tunisia','Egypt','Turkey','Greece','Cyprus']
MENA = clean_df[clean_df.Area.isin(c)]
MENA.head()

Variable Name,Area,Year,% of agricultural water managed area equipped for irrigation,% of area equipped for full control irrigation actually irrigated,% of area equipped for irrigation by direct use of treated municipal wastewater,% of area equipped for irrigation by direct use of non-treated municipal wastewater,% of area equipped for irrigation by groundwater,% of area equipped for irrigation by mixed surface water and groundwater,% of area equipped for irrigation by surface water,% of area equipped for irrigation drained,...,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Total water withdrawal,Total water withdrawal per capita,Treated municipal wastewater,Treated municipal wastewater discharged (secondary water),Urban population,Urban population with access to safe drinking-water (JMP),Water resources: total external renewable
49,Algeria,1980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,145.8,NaN,NaN,NaN,NaN,NaN
50,Algeria,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.15,11.67,567.2,NaN,NaN,NaN,NaN,9408.0,NaN,0.42
51,Algeria,1984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Algeria,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.5,146.3,NaN,NaN,NaN,NaN,NaN
53,Algeria,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
# Clumping into 5 year intervals using the average of 2 years before and 3 years after
# All Years
all_years = set(clean_df["Year"])
print("Range of all years {} : {}".format(min(all_years), max(all_years)))
dfs = []
for i in range(1980, 2015, 5):
    filtered = clean_df[(clean_df["Year"] > i -2) & (clean_df["Year"] < i + 3)]
    f_group = filtered.groupby("Area").mean()
    f_group["Year"] = i
    dfs.append(f_group)
df_every_5 = pd.concat(dfs)   
print("Aggregated into the following bins: " + str(df_every_5["Year"].unique()))

Range of all years 1978.0 : 2017.0
Aggregated into the following bins: [1980 1985 1990 1995 2000 2005 2010]

In [195]:
g50r = df_every_5[df_every_5.count(axis = 1) >= 50]
len(g50r.index.unique())
# g50r[(g50r["Year"] > 1980) & (g50r["Year"] < 2018)].groupby("Area").count().sort_values(by ='Year',ascending = False).reset_index()
grouped = g50r.groupby("Area").count().sort_values(by ='Year',ascending = False).reset_index()
good_candidates = grouped[grouped["Year"] > 5]["Area"]
df_good_candidates = g50r.set_index("Year")
df_good_candidates
g50r[g50r.index == "Jordan"].count()
dense_variables = {v:np.mean(grouped[v]) for v in grouped.columns[1:] if np.mean(grouped[v]) > 4.5}

# # Dense water variables
# water_vars = []
# for i in sorted(a, key = lambda x:a[x], reverse=True):
#     if "water" in i and a[i] > 4:
# #         print(i, a[i])
#         water_vars.append(i)

# # Dense variables
# dense_vars = []
# for i in sorted(a, key = lambda x:a[x], reverse=True):
#     if a[i] > 4:
#         dense_vars.append(i)
#     else:
#         break

# # Eval of whether the original data is sparse on the variables we think we care about
# water_vars.where(df_every_5[water_vars+["Year"]].count() -  g50r[water_vars + ["Year"]].count() > 300)
# df_every_5[dense_vars].count() -  g50r[dense_vars].count() > 300
len(dense_variables)

42

In [242]:
dense_df = df_every_5[list(dense_variables.keys())].reset_index()
grouped = dense_df.groupby("Area").count().sort_values(by ='Year',ascending = False)
totals = grouped.sum(axis=1)
np.mean(totals)
best_countries = totals[totals > 290].index
print("{} countries with sufficient data".format(len(best_countries)))
final_data = dense_df[dense_df["Area"].isin(best_countries)].drop(columns="Agriculture, value added (% GDP)")

final_data = final_data.interpolate()
final_data.at[1, "GDP per capita"] =  815.53
final_data.at[1, "Gross Domestic Product (GDP)"] =  15e9
print("Total nans = {}".format(sum(final_data.isna().sum())))
final_data.to_csv("final_cleaned_data.csv")
final_data.head()

96 countries with sufficient data
Total nans = 0

Variable Name,Area,Year,% of total country area cultivated,Arable land area,Cultivated area (arable land + permanent crops),Dependency ratio,Environmental Flow Requirements,GDP per capita,Gross Domestic Product (GDP),Groundwater produced internally,...,Total area of the country (excl. coastal waters),Total internal renewable water resources (IRWR),Total internal renewable water resources per capita,Total population,Total renewable groundwater,Total renewable surface water,Total renewable water resources,Total renewable water resources per capita,Urban population,Water resources: total external renewable
1,Albania,1980,24.660,589.0,709.0,10.930,13.56,815.53,1.500000e+10,6.200,...,2875.0,26.90,9648.0,2788.0,6.200,26.35,30.20,10832.0,982.0,3.30
2,Algeria,1980,3.153,6881.0,7509.0,3.599,4.56,2197.00,4.520000e+10,1.487,...,238174.0,11.25,546.8,20576.0,1.517,10.15,11.67,567.2,9408.0,0.42
6,Argentina,1980,10.070,27000.0,27992.0,66.670,515.80,2908.00,8.430000e+10,128.000,...,278040.0,292.00,10071.0,28994.0,128.000,860.20,876.20,30220.0,24281.0,584.20
7,Australia,1980,6.011,46374.0,46531.0,0.000,243.30,12898.00,1.940000e+11,72.000,...,774122.0,492.00,32711.0,15041.0,72.000,440.00,492.00,32711.0,12933.0,0.00
8,Austria,1980,19.480,1535.0,1634.0,29.210,41.51,9353.00,7.110000e+10,6.000,...,8388.0,55.00,7235.0,7602.0,6.000,77.70,77.70,10221.0,4942.0,22.70

In [192]:
countries = ['Armenia','Azerbaijan','Morocco','Algeria','Tunisia','Egypt','Turkey','Greece','Cyprus']
test = g50r[g50r.index.isin(countries)]
#test.groupby("Year").count().mean().sort_values(ascending = False)
test1 = test.groupby("Year").count().mean().sort_values(ascending = False)
variables = test1[test1 > len(countries) - 4].index.values
variables

array(['Water resources: total external renewable',
       'Surface water: outflow to other countries secured through treaties',
       'Surface water: inflow secured through treaties',
       'Surface water: inflow not submitted to treaties',
       'Surface water: entering the country (total)',
       'Surface water: accounted inflow',
       'Surface water produced internally', 'Rural population',
       'Arable land area', 'Population density', 'Permanent crops area',
       'Overlap: between surface water and groundwater',
       'Overlap between surface water and groundwater',
       'Cultivated area (arable land + permanent crops)',
       'Dependency ratio', 'Environmental Flow Requirements',
       'Long-term average annual precipitation in volume',
       'Long-term average annual precipitation in depth',
       'GDP per capita', 'Gross Domestic Product (GDP)',
       'Groundwater produced internally', 'Groundwater: accounted inflow',
       'Groundwater: entering the country (total)',
       'Surface water: inflow submitted to treaties',
       'Surface water: accounted flow of border rivers',
       'Total population', 'Urban population',
       'Surface water: total external renewable',
       'Surface water: total flow of border rivers',
       '% of total country area cultivated',
       'Total area of the country (excl. coastal waters)',
       'Total renewable water resources per capita',
       'Total renewable water resources', 'Total renewable surface water',
       'Total renewable groundwater',
       'Total internal renewable water resources per capita',
       'Total internal renewable water resources (IRWR)',
       'Agriculture, value added (% GDP)',
       'Surface water: outflow to other countries not submitted to treaties',
       'Surface water: outflow to other countries submitted to treaties',
       'Surface water: leaving the country to other countries (total)',
       'Groundwater: leaving the country to other countries (total)',
       'Groundwater: accounted outflow to other countries',
       'Total exploitable water resources',
       'Exploitable: regular renewable groundwater',
       'Dam capacity per capita', 'Total dam capacity',
       'Rural population with access to safe drinking-water (JMP)',
       'Total population with access to safe drinking-water (JMP)',
       'Irrigation potential',
       'Urban population with access to safe drinking-water (JMP)',
       'MDG 7.5. Freshwater withdrawal as % of total renewable water resources',
       'Total water withdrawal per capita', 'Total water withdrawal',
       'Total freshwater withdrawal (primary and secondary)',
       'SDG 6.4.2. Water Stress',
       'Exploitable: total renewable surface water',
       'Exploitable: irregular renewable surface water',
       'Agricultural water withdrawal',
       'Agricultural water withdrawal as % of total renewable water resources',
       'Agricultural water withdrawal as % of total water withdrawal'],
      dtype=object)

In [193]:
df_every_5[water_vars+["Year"]].count() -  g50r[water_vars + ["Year"]].count()

Variable Name
Groundwater: accounted inflow                                          348
Groundwater: entering the country (total)                              348
Surface water: accounted flow of border rivers                         348
Surface water: accounted inflow                                        348
Surface water: entering the country (total)                            348
Surface water: inflow not submitted to treaties                        348
Surface water: inflow secured through treaties                         348
Surface water: outflow to other countries secured through treaties     362
Surface water: total external renewable                                348
Total internal renewable water resources (IRWR)                        266
Total internal renewable water resources per capita                    266
Total renewable water resources                                        266
Total renewable water resources per capita                             266
Total area of the country (excl. coastal waters)                       374
Surface water: inflow submitted to treaties                            346
Surface water produced internally                                      207
Total renewable surface water                                          207
Surface water: total flow of border rivers                             342
Groundwater produced internally                                        213
Overlap between surface water and groundwater                          206
Overlap: between surface water and groundwater                         206
Total renewable groundwater                                            213
Surface water: leaving the country to other countries (total)          339
Surface water: outflow to other countries not submitted to treaties    335
Surface water: outflow to other countries submitted to treaties        338
Urban population with access to safe drinking-water (JMP)              150
Rural population with access to safe drinking-water (JMP)              139
Total population with access to safe drinking-water (JMP)              153
Groundwater: accounted outflow to other countries                      307
Groundwater: leaving the country to other countries (total)            307
Year                                                                   393
dtype: int64

In [194]:
goal = test[variables]
goal = goal.interpolate()
goal['Year'] = test['Year']
goal['Area'] = test.index
goal

Variable Name,Water resources: total external renewable,Surface water: outflow to other countries secured through treaties,Surface water: inflow secured through treaties,Surface water: inflow not submitted to treaties,Surface water: entering the country (total),Surface water: accounted inflow,Surface water produced internally,Rural population,Arable land area,Population density,...,Total water withdrawal,Total freshwater withdrawal (primary and secondary),SDG 6.4.2. Water Stress,Exploitable: total renewable surface water,Exploitable: irregular renewable surface water,Agricultural water withdrawal,Agricultural water withdrawal as % of total renewable water resources,Agricultural water withdrawal as % of total water withdrawal,Year,Area
Area,,,,,,,,,,,,,,,,,,,,,
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,11168.0,6881.0,8.639,...,3.00000,3.00000,42.1900,6.000000,5.000000,2.220000,19.020000,74.000000,1980,Algeria
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,256.2,115.0,74.780,...,0.17700,0.17700,24.1900,0.340000,0.190000,0.140000,17.950000,79.100000,1980,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,25756.0,2281.0,46.310,...,2.60850,2.60350,17.1850,13.170000,49.000000,0.142143,18.224286,78.871429,1980,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,2953.0,2928.0,74.300,...,5.04000,5.03000,10.1800,26.000000,21.000000,0.144286,18.498571,78.642857,1980,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,12163.0,7767.0,47.070,...,10.05000,10.05000,48.2400,16.000000,13.000000,0.146429,18.772857,78.414286,1980,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3294.0,3160.0,41.160,...,1.90000,1.90000,48.2400,2.475000,0.300000,0.148571,19.047143,78.185714,1980,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,24408.0,24199.0,58.600,...,2.70000,2.70000,48.7350,98.000000,2.650000,0.150714,19.321429,77.957143,1980,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,11872.0,7069.0,10.040,...,3.50000,3.50000,49.2300,6.000000,5.000000,0.152857,19.595714,77.728571,1985,Algeria
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,249.4,103.4,78.210,...,0.20000,0.20000,27.3400,0.340000,0.190000,0.155000,19.870000,77.500000,1985,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,29909.0,2288.0,52.990,...,2.84800,2.84300,19.2200,13.170000,49.000000,2.377500,13.297500,80.600000,1985,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,2973.0,2870.0,76.300,...,5.49600,5.48600,11.1000,26.000000,21.000000,4.600000,6.725000,83.700000,1985,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,12747.0,8166.0,52.620,...,11.00000,11.00000,52.8000,16.000000,13.000000,4.125000,10.828750,77.775000,1985,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3493.0,2980.0,47.010,...,2.30000,2.30000,58.4000,2.475000,0.300000,3.650000,14.932500,71.850000,1985,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,382125.0,24964.0,522.600,...,3.40000,3.36800,60.3950,98.000000,2.650000,3.175000,19.036250,65.925000,1985,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,12406.0,7562.0,11.410,...,4.50000,4.43600,62.3900,6.000000,5.000000,2.700000,23.140000,60.000000,1990,Algeria
Armenia,0.91,0.0,0.0,0.00,0.00,0.91,3.948,1136.0,423.0,115.800,...,10.35000,10.31800,66.9550,4.113333,3.396667,6.815000,27.330000,63.735000,1990,Armenia
Azerbaijan,26.56,0.0,0.0,25.38,19.76,26.56,5.955,3513.0,1704.0,86.280,...,16.20000,16.20000,71.5200,2.226667,1.793333,10.930000,31.520000,67.470000,1990,Azerbaijan
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,259.4,107.6,86.550,...,0.22600,0.22300,30.4800,0.340000,0.190000,0.166000,21.280000,73.450000,1990,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,34813.0,2615.0,59.950,...,4.13200,4.12550,23.3600,13.170000,49.000000,4.033000,16.415000,85.865000,1990,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,3024.0,2864.0,79.200,...,8.03800,8.02800,16.2400,26.000000,21.000000,7.900000,11.550000,98.280000,1990,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,13046.0,8934.0,57.760,...,11.04000,11.04000,52.9900,16.000000,13.000000,10.180000,35.100000,92.210000,1990,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3541.0,2908.0,52.580,...,3.07500,3.06700,77.8800,2.475000,0.300000,2.728000,59.110000,88.720000,1990,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,21971.0,24514.0,70.990,...,31.60000,31.60000,23.4700,98.000000,2.650000,22.900000,10.820000,72.470000,1990,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,12425.0,7650.0,12.550,...,17.26250,17.26250,41.2400,6.000000,5.000000,12.420000,17.895000,69.395000,1995,Algeria
Armenia,0.91,0.0,0.0,0.00,0.00,0.91,3.948,1078.0,455.0,105.300,...,2.92500,2.92500,59.0100,4.113333,3.396667,1.940000,24.970000,66.320000,1995,Armenia
Azerbaijan,26.56,0.0,0.0,25.38,19.76,26.56,5.955,3839.0,1801.0,91.520,...,12.51000,12.51000,55.2300,2.226667,1.793333,9.254000,26.680000,73.970000,1995,Azerbaijan
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,283.0,98.1,96.350,...,35.69000,35.57500,81.0150,0.340000,0.190000,29.982000,57.435000,80.055000,1995,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,39236.0,2779.0,66.060,...,58.87000,58.64000,106.8000,13.170000,49.000000,50.710000,88.190000,86.140000,1995,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,3122.0,2789.0,83.060,...,8.69500,8.68500,17.5700,26.000000,21.000000,7.600000,11.110000,87.410000,1995,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,13361.0,8980.0,62.310,...,11.26000,11.26000,54.0500,16.000000,13.000000,9.884000,34.080000,87.780000,1995,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3633.0,2845.0,57.360,...,2.85700,2.84900,72.3400,2.475000,0.300000,2.446000,53.000000,85.610000,1995,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,22229.0,24297.0,76.870,...,4.29000,4.27750,76.2950,98.000000,2.650000,2.974000,41.505000,73.400000,1995,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,11962.0,7547.0,13.430,...,5.72300,5.70600,80.2500,6.000000,5.000000,3.502000,30.010000,61.190000,2000,Algeria
Armenia,0.91,0.0,0.0,0.00,0.00,0.91,3.948,1075.0,455.0,102.000,...,1.73300,1.73300,34.9600,4.113333,3.396667,1.140000,14.670000,65.780000,2000,Armenia
Azerbaijan,26.56,0.0,0.0,25.38,19.76,26.56,5.955,3989.0,1837.0,95.580,...,10.07000,10.07000,44.4600,2.226667,1.793333,6.376000,18.390000,63.320000,2000,Azerbaijan
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,303.9,100.0,105.600,...,0.21020,0.17070,23.3300,0.340000,0.190000,0.160600,20.590000,76.400000,2000,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,43296.0,2936.0,72.480,...,68.30000,57.03000,103.9000,13.170000,49.000000,59.000000,102.600000,86.380000,2000,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,3134.0,2717.0,85.000,...,9.25900,9.22600,18.6600,26.000000,21.000000,8.420000,12.310000,90.940000,2000,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,13687.0,8402.0,66.090,...,14.82000,14.82000,71.1400,16.000000,13.000000,11.050000,38.100000,74.560000,2000,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3605.0,2771.0,60.290,...,2.85000,2.80900,71.3300,2.475000,0.300000,2.165000,46.910000,75.960000,2000,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,22259.0,23994.0,82.950,...,42.00000,42.00000,31.2000,98.000000,2.650000,31.500000,14.890000,75.000000,2000,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,11365.0,7469.0,14.400,...,22.42900,22.42900,44.4300,6.000000,5.000000,16.695000,19.610000,70.565000,2005,Algeria
Armenia,0.91,0.0,0.0,0.00,0.00,0.91,3.948,1016.0,452.1,98.620,...,2.85800,2.85800,57.6600,4.113333,3.396667,1.890000,24.330000,66.130000,2005,Armenia
Azerbaijan,26.56,0.0,0.0,25.38,19.76,26.56,5.955,4094.0,1854.0,100.700,...,12.27000,12.27000,54.1700,2.226667,1.793333,8.581000,24.740000,69.930000,2005,Azerbaijan
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,341.3,109.8,115.000,...,0.21660,0.16410,22.4300,0.340000,0.190000,0.143000,18.330000,66.020000,2005,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,47561.0,2564.0,79.420,...,4.92330,4.87855,20.9200,13.170000,49.000000,4.300500,15.350000,76.925000,2005,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,3059.0,2567.0,86.250,...,9.63000,9.59300,19.4100,26.000000,21.000000,8.458000,12.370000,87.830000,2005,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,14005.0,8065.0,69.930,...,9.32875,9.14725,42.0075,16.000000,13.000000,7.591000,19.967500,80.680000,2005,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3575.0,2733.0,62.940,...,9.02750,8.70150,64.6050,2.475000,0.300000,6.724000,27.565000,73.530000,2005,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,21662.0,21979.0,88.620,...,8.72625,8.25575,87.2025,98.000000,2.650000,5.857000,35.162500,66.380000,2005,Turkey
Algeria,0.42,0.0,0.0,0.39,0.39,0.39,9.760,11064.0,7506.0,15.770,...,8.42500,7.81000,109.8000,6.000000,5.000000,4.990000,42.760000,59.230000,2010,Algeria
Armenia,0.91,0.0,0.0,0.00,0.00,0.91,3.948,1007.0,448.4,96.910,...,2.94100,2.94100,59.3300,4.113333,3.396667,2.597000,33.430000,88.300000,2010,Armenia
Azerbaijan,26.56,0.0,0.0,25.38,19.76,26.56,5.955,4252.0,1897.0,107.000,...,11.97000,11.97000,52.8500,2.226667,1.793333,8.887000,25.630000,74.240000,2010,Azerbaijan
Cyprus,0.00,0.0,0.0,0.00,0.00,0.00,0.560,375.6,85.8,122.700,...,0.25580,0.20030,27.3800,0.340000,0.190000,0.171000,21.920000,66.850000,2010,Cyprus
Egypt,56.50,0.0,55.5,0.00,84.00,55.50,0.500,53101.0,2829.0,87.690,...,72.30000,68.10000,124.0000,13.170000,49.000000,61.500000,107.000000,85.060000,2010,Egypt
Greece,10.40,0.0,0.0,7.60,7.60,10.40,55.500,2812.0,2540.0,86.220,...,41.36500,39.22500,86.8400,26.000000,21.000000,7.918000,11.580000,86.425000,2010,Greece
Morocco,0.00,0.0,0.0,0.00,0.00,0.00,22.000,14245.0,8047.0,74.650,...,10.43000,10.35000,49.6800,16.000000,13.000000,9.156000,31.570000,87.790000,2010,Morocco
Tunisia,0.42,0.0,0.0,0.32,0.32,0.32,3.100,3680.0,2848.0,66.540,...,3.30500,3.21700,81.6800,2.475000,0.300000,2.644000,57.290000,80.000000,2010,Tunisia
Turkey,-15.40,18.9,0.0,1.80,1.80,4.70,186.000,21415.0,20577.0,94.950,...,3.30500,3.21700,81.6800,98.000000,0.300000,2.644000,57.290000,80.000000,2010,Turkey

In [125]:
filter_fn1 = lambda y: y["Area"] == country and y["Year"] == x - 10
filter_fn2 = lambda y: y["Area"] == country and y["Year"] == x - 5
filter_fn3 = lambda y: y["Area"] == country and y["Year"] == x

all_rows = []
for country in countries:
    for var in variables:
        for x in range(2002, 2017, 5):
            new_row = {"Predicted Year": x, "Country": country, "Variable": var, "Year - 10": goal[goal.apply(filter_fn1, axis=1)].loc[:,var].values[0], "Year - 5": goal[goal.apply(filter_fn2, axis=1)].loc[:,var].values[0], "Predicted Value": goal[goal.apply(filter_fn3, axis=1)].loc[:,var].values[0]}
#             , "x2": goal[goal.apply(filter_fn2, axis=1)][var], "x3":goal[goal.apply(filter_fn3, axis=1)][var
            all_rows.append(new_row)
aqua_training = pd.DataFrame(all_rows)

# goal[goal.apply(lambda y: y["Area"] == "Armenia"  and y["Year"] == 2002, axis=1)].loc[:, "Rural population"].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
aqua_training.columns
# aqua_training = aqua_training[['Country', 'Variable', 'Predicted Year', 'Year - 10',
#        'Year - 5', 'Predicted Value']]
# aqua_training = aqua_training.set_index("Country")

# aqua_training.to_csv('aqua_training.csv')

In [112]:
aqua_training

Empty DataFrame
Columns: []
Index: []

In [113]:
clean_df.notna().sum().sort_values(ascending = False)

Variable Name
Area                                                                                   4529
Year                                                                                   4529
Total population                                                                       1528
Urban population                                                                       1528
Rural population                                                                       1528
Total area of the country (excl. coastal waters)                                       1504
Cultivated area (arable land + permanent crops)                                        1503
Population density                                                                     1503
% of total country area cultivated                                                     1503
Arable land area                                                                       1502
Permanent crops area                                                                   1502
Surface water: outflow to other countries secured through treaties                     1498
Dependency ratio                                                                       1482
Groundwater: accounted inflow                                                          1482
Groundwater: entering the country (total)                                              1482
Surface water: total external renewable                                                1482
Surface water: accounted flow of border rivers                                         1482
Surface water: accounted inflow                                                        1482
Surface water: entering the country (total)                                            1482
Surface water: inflow not submitted to treaties                                        1482
Surface water: inflow secured through treaties                                         1482
Water resources: total external renewable                                              1482
Surface water: inflow submitted to treaties                                            1466
Surface water: total flow of border rivers                                             1448
Surface water: leaving the country to other countries (total)                          1436
Gross Domestic Product (GDP)                                                           1426
GDP per capita                                                                         1426
Surface water: outflow to other countries not submitted to treaties                    1418
Surface water: outflow to other countries submitted to treaties                        1415
Long-term average annual precipitation in volume                                       1405
                                                                                       ...
Harvested irrigated permanent crop area: Grass and Fodder                                45
% of area equipped for irrigation by direct use of  treated municipal wastewater         44
Flood recession cropping area non-equipped                                               43
Harvested irrigated permanent crop area: Grapes                                          39
Harvested irrigated temporary crop area: Other roots and tubers                          39
Area equipped for irrigation: spate irrigation                                           37
Population affected by water related disease                                             36
Harvested irrigated temporary crop area: Sorghum                                         34
Direct use of agricultural drainage water                                                32
Area waterlogged by irrigation                                                           29
Area equipped for irrigation by mixed surface water and groundwater                      28
Harvested irrigated temporary crop area: Flowers                                         27
Harvested irrigated permanent crop area: Coffee                                          26
Area equipped for irrigation by direct use of not treated municipal wastewater           26
Area equipped for irrigation by direct use of non-treated municipal wastewater           25
Harvested irrigated temporary crop area: Groundnuts                                      25
Not treated municipal wastewater discharged (secondary water)                            24
Harvested irrigated temporary crop area: Sesame                                          19
Harvested irrigated permanent crop area: Oil palm                                        19
Harvested irrigated temporary crop area: Sweet potatoes                                  18
Harvested irrigated permanent crop area: Tea                                             15
% of area equipped for irrigation by direct use of non-treated municipal wastewater      15
Harvested irrigated temporary crop area: Millet                                          14
Harvested irrigated permanent crop area: Olives                                          14
Harvested irrigated permanent crop area: Plantains                                       11
Direct use of not treated municipal wastewater for irrigation purposes                   11
Harvested irrigated temporary crop area: Cassava                                          9
Harvested irrigated permanent crop area: Cocoa beans                                      6
Harvested irrigated permanent crop area: Coconuts                                         4
Harvested irrigated permanent crop area: Rubber                                           2
Length: 180, dtype: int64

In [114]:
yep = clean_df[clean_df['SDG 6.4.2. Water Stress'].notna()][['Area','Year','SDG 6.4.2. Water Stress']]
yep

Variable Name,Area,Year,SDG 6.4.2. Water Stress
5,Afghanistan,1987.0,70.490
13,Afghanistan,2000.0,54.750
32,Albania,1990.0,7.212
37,Albania,2000.0,11.050
40,Albania,2006.0,7.879
49,Algeria,1980.0,42.190
52,Algeria,1985.0,49.230
55,Algeria,1990.0,62.390
63,Algeria,2001.0,80.250
71,Algeria,2012.0,109.800
75,Algeria,2016.0,127.600
94,Angola,1987.0,1.273
102,Angola,2000.0,1.699
105,Angola,2005.0,1.872
118,Antigua and Barbuda,1990.0,3.269
124,Antigua and Barbuda,2005.0,9.808
127,Antigua and Barbuda,2012.0,8.462
142,Argentina,1995.0,7.930
152,Argentina,2011.0,10.460
161,Armenia,1995.0,59.010
166,Armenia,2002.0,34.960
170,Armenia,2007.0,57.660
173,Armenia,2012.0,59.330
178,Armenia,2017.0,57.430
191,Australia,1996.0,8.858
194,Australia,2001.0,8.645
196,Australia,2005.0,7.443
202,Australia,2012.0,6.212
206,Australia,2016.0,6.240
208,Austria,1980.0,9.229
...,...,...,...
4274,United Kingdom,2002.0,26.910
4277,United Kingdom,2007.0,14.460
4281,United Kingdom,2012.0,13.670
4285,United Kingdom,2016.0,14.360
4301,United Republic of Tanzania,2002.0,12.960
4313,United States of America,1980.0,32.800
4322,United States of America,1990.0,29.470
4328,United States of America,2000.0,30.010
4331,United States of America,2005.0,30.330
4335,United States of America,2010.0,26.530
4339,United States of America,2015.0,28.160
4354,Uruguay,2000.0,9.786
4371,Uzbekistan,1994.0,154.200
4376,Uzbekistan,2001.0,154.100
4378,Uzbekistan,2005.0,141.000
4386,Uzbekistan,2016.0,151.500
4412,Venezuela (Bolivarian Republic of),2000.0,3.020
4415,Venezuela (Bolivarian Republic of),2007.0,7.540
4425,Viet Nam,1980.0,8.385
4428,Viet Nam,1985.0,10.030
4441,Viet Nam,2005.0,18.130
4458,Yemen,1990.0,139.100
4466,Yemen,2000.0,161.100
4470,Yemen,2005.0,168.600
4486,Zambia,1992.0,3.151
4487,Zambia,1994.0,3.077
4492,Zambia,2002.0,2.835
4507,Zimbabwe,1987.0,11.450
4518,Zimbabwe,2002.0,39.480
4520,Zimbabwe,2007.0,33.510

In [115]:
plt.figure(figsize=(20,17))
sns.lineplot(x="Year", y="SDG 6.4.2. Water Stress", hue="Area",data=yep)